# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ project metadata
.idea

# Ignore macOS files
.DS_Store

# Ignore Vim swap files
*.swp

# Ignore Android Studio local files
local.properties
